<div class = "friends">
    <ul class="friends-list">
        <% i = 0 %>
        <% while (i < Object.keys(reminders).length) { %>
        <li><strong><%= Object.keys(reminders)[i] %></strong> <strong style="margin-left: 50px"> Add Friend</strong></li>
        <% i = i + 1 } %>
      </ul>

</div>
    
